## Observations and Insights

In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import seaborn as sns


# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [15]:
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [16]:
mouse_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Mouse ID      249 non-null    object
 1   Drug Regimen  249 non-null    object
 2   Sex           249 non-null    object
 3   Age_months    249 non-null    int64
 4   Weight (g)    249 non-null    int64
dtypes: int64(2), object(3)
memory usage: 9.9+ KB

#The data shown above contains no nulls and the data types are correct. No data cleaning issues on this dataframe.

In [17]:
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [18]:
study_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1893 entries, 0 to 1892
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1893 non-null   object
 1   Timepoint           1893 non-null   int64
 2   Tumor Volume (mm3)  1893 non-null   float64
 3   Metastatic Sites    1893 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 59.3+ KB

#The data shown above contains no nulls and the data types are correct. No data cleaning issues on this dataframe.

In [19]:
# Combine the data into a single dataset
df1 = pd.merge(study_results, mouse_metadata, on="Mouse ID", how="left")
# Display the table for preview
df1

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,f932,0,45.000000,0,Ketapril,Male,15,29
2,g107,0,45.000000,0,Ketapril,Female,2,29
3,a457,0,45.000000,0,Ketapril,Female,11,30
4,c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...,...
1888,r944,45,41.581521,2,Capomulin,Male,12,25
1889,u364,45,31.023923,3,Capomulin,Male,18,17
1890,p438,45,61.433892,1,Ceftamin,Female,11,26
1891,x773,45,58.634971,4,Placebo,Female,21,30
1892,b879,45,72.555239,2,Stelasyn,Female,4,26

In [21]:
df1 = pd.merge(study_results, mouse_metadata, on="Mouse ID", how="left")
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 0 to 1892
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1893 non-null   object
 1   Timepoint           1893 non-null   int64
 2   Tumor Volume (mm3)  1893 non-null   float64
 3   Metastatic Sites    1893 non-null   int64
 4   Drug Regimen        1893 non-null   object
 5   Sex                 1893 non-null   object
 6   Age_months          1893 non-null   int64
 7   Weight (g)          1893 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 133.1+ KB
None

In [33]:
df1["Mouse ID"].unique()

array(['b128', 'f932', 'g107', 'a457', 'c819', 'h246', 'p189', 'n923',
       'q119', 'f993', 'z234', 'b559', 'y260', 'x930', 'o725', 'z969',
       'v835', 'r604', 'n304', 'l700', 'x336', 'l725', 'm133', 'v295',
       'a818', 'y601', 't724', 'k382', 'w422', 'c326', 'c139', 'v339',
       'a577', 'y163', 'k483', 'k804', 'o809', 'z581', 'a251', 'i386',
       'c580', 'q132', 'u327', 'v603', 'f278', 'g497', 'd474', 'o973',
       'c832', 'o331', 'm650', 'v289', 'm550', 'h428', 'r701', 'v199',
       'x264', 'f234', 'c458', 'q610', 'j913', 'a411', 'a444', 'd251',
       'j989', 'y449', 'k403', 'c758', 'x402', 'r811', 'a644', 'i177',
       'g791', 'a520', 'u196', 'm546', 'w678', 'n364', 's508', 'e662',
       'z578', 'r921', 'a492', 'w540', 'v764', 'z795', 'e291', 'e584',
       'e213', 'j755', 's565', 'a366', 'p387', 'b879', 'i901', 'k862',
       'g867', 's619', 'w697', 'j984', 'c402', 'h333', 'k510', 'p981',
       't451', 'a963', 'm269', 'g989', 'z314', 'o848', 'v719', 'q597',
       'c895', 'a203', 'f394', 'c264', 'n967', 'f545', 'k894', 'k754',
       'g296', 'd164', 'w575', 'x613', 'q633', 'b313', 'f129', 'j365',
       'p136', 'c559', 'a788', 's337', 'q511', 'm331', 'o926', 'd133',
       'n630', 'a401', 'w350', 'c302', 'a897', 'j235', 'q787', 'a262',
       'r850', 'i669', 'n763', 's152', 'c766', 'e227', 'c282', 'v989',
       'w140', 'v409', 'l872', 'o795', 'y478', 'q582', 's166', 'x773',
       'w167', 't718', 'o302', 'i477', 'c757', 't994', 'p310', 'a699',
       'k603', 'x822', 'l558', 'l733', 'f436', 'l490', 'b759', 'l471',
       'y865', 'y769', 'l661', 'j296', 'u149', 'u153', 'w151', 'h531',
       'a685', 'o813', 'm756', 'n671', 's121', 'v766', 'w193', 'e476',
       'w584', 'b447', 'k210', 'a275', 'x581', 'n482', 't198', 'l215',
       's141', 'o523', 'i635', 'w746', 'r107', 's187', 'g570', 'x209',
       'x111', 'z435', 'n678', 'g558', 'u946', 'o562', 'v991', 'c927',
       'x226', 'p438', 'b487', 'o287', 'q483', 't573', 'f345', 'i334',
       'l264', 'j246', 'r554', 's185', 'b742', 'x401', 'l509', 's710',
       'r157', 'u364', 'j119', 'v923', 'w914', 'i738', 'r944', 'y793',
       'g316', 'g288', 'l897', 'w150', 't565', 'i557', 'm957', 'f966',
       'm601'], dtype=object)

In [35]:
df1["Mouse ID"].unique().size

249

In [29]:
df1["Mouse ID"].size

1893

In [38]:
# Checking the number of mice.
print(f"Unique Mouse IDs: {df1['Mouse ID'].unique().size}")
print(f"Total Mouse IDs: {df1['Mouse ID'].size}")

Unique Mouse IDs: 249
Total Mouse IDs: 1893

In [39]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
df2 = df1[df1["Mouse ID"].duplicated()]
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1644 entries, 137 to 1892
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            1644 non-null   object
 1   Timepoint           1644 non-null   int64
 2   Tumor Volume (mm3)  1644 non-null   float64
 3   Metastatic Sites    1644 non-null   int64
 4   Drug Regimen        1644 non-null   object
 5   Sex                 1644 non-null   object
 6   Age_months          1644 non-null   int64
 7   Weight (g)          1644 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 115.6+ KB

In [40]:
df2.size

13152

In [42]:
# Optional: Get all the data for the duplicate mouse ID. 
df3 = df1.drop_duplicates("Mouse ID")
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 0 to 249
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mouse ID            249 non-null    object
 1   Timepoint           249 non-null    int64
 2   Tumor Volume (mm3)  249 non-null    float64
 3   Metastatic Sites    249 non-null    int64
 4   Drug Regimen        249 non-null    object
 5   Sex                 249 non-null    object
 6   Age_months          249 non-null    int64
 7   Weight (g)          249 non-null    int64
dtypes: float64(1), int64(4), object(3)
memory usage: 17.5+ KB

In [43]:
df3.size

1992

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [6]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

In [10]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen